body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Karla";
    background-color:hsl(204, 43%, 93%);
}

.container {
    display: grid;
    grid-template-columns: 340px 300px;
    grid-template-rows: 230px 230px;
}

.container-1 h3 {
    color: hsl(179, 62%, 43%);
    font-size: 20px;
}

.container-1 .info{
    color:  hsl(71, 73%, 54%);
    font-weight: 600;
    margin: 0px;
}

.container-1 .info-2 {
    color: hsl(218, 22%, 67%) ;
    width: 550px;
    margin-top: 10px;
}

.container-1 {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 30px 50px;
    display: grid;
    grid-column-start: 1 ;
    grid-column-end: 3;
    width: 580px;
}

.container-2 {
    background-color: hsl(179, 62%, 43%) ;
    padding: 30px;
    border-radius: 0px 0px 0px 10px;
    width: 280px;
}

.container-2 h4 {
    color: white;
    margin-bottom: 15px;
}

.container-2 h1 {
    color:  hsl(204, 43%, 93%);
    font-size: 35px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container-2 h1 .price {
    color:  hsla(203, 44%, 93%, 0.721);
    font-size: 13px;
    margin-left: 10px;
}

.container-2 .info-3 {
    color:  hsl(204, 43%, 93%);
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

.container-2 button {
    color:  hsl(204, 43%, 93%);
    background-color:  hsl(71, 73%, 54%);
    font-weight: 600;
    width: 210px;
    height: 35px;
    border: 1px solid  hsl(71, 73%, 54%);
    border-radius: 5px;
    box-shadow: 0px 0px 15px hsla(0, 0%, 38%, 0.674);
    margin-top: 10px;
}

.container-3 {
    background-color: hsla(179, 62%, 43%, 0.685);
    padding: 10px 30px 30px 30px;
    border-radius: 0px 0px 10px 0px;
    width: 280px;
}

.container-3 h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 18px;
}

.container-3 p {
    color:  hsl(204, 43%, 93%);
    margin: 2px;
}

@media screen and (max-width: 500px) {
    body {
        display: grid;
        place-content: center;
        min-height: 100vh;
        font-family: "Karla";
        background-color:hsl(204, 43%, 93%);
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .container-1 h3 {
        color: hsl(179, 62%, 43%);
        font-size: 20px;
    }
    
    .container-1 .info{
        color:  hsl(71, 73%, 54%);
        font-weight: 600;
        width: 260px;
        margin: 0px;
    }
    
    .container-1 .info-2 {
        color: hsl(218, 22%, 67%) ;
        width: 300px;
        margin-top: 15px;
    }
    
    .container-1 {
        background-color: white;
        border-radius: 10px 10px 0px 0px;
        padding: 30px 70px 30px 30px;
        width: 260px;
    }
    
    .container-2 {
        background-color: hsl(179, 62%, 43%) ;
        padding: 30px;
        border-radius: 0px 0px 0px 0px;
        width: 300px;
    }
    
    .container-2 h4 {
        color: white;
        margin-bottom: 15px;
    }
    
    .container-2 h1 {
        color:  hsl(204, 43%, 93%);
        font-size: 35px;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .container-2 h1 .price {
        color:  hsla(203, 44%, 93%, 0.721);
        font-size: 13px;
        margin-left: 10px;
    }
    
    .container-2 .info-3 {
        color:  hsl(204, 43%, 93%);
        margin-top: 6px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .container-2 button {
        color:  hsl(204, 43%, 93%);
        background-color:  hsl(71, 73%, 54%);
        font-weight: 600;
        width: 210px;
        height: 35px;
        border: 1px solid  hsl(71, 73%, 54%);
        border-radius: 5px;
        box-shadow: 0px 0px 15px hsla(0, 0%, 38%, 0.674);
        margin-top: 10px;
    }
    
    .container-3 {
        background-color: hsla(179, 62%, 43%, 0.685);
        padding: 10px 30px 30px 30px;
        border-radius: 0px 0px 10px 10px;
        width: 300px;
    }
    
    .container-3 h4 {
        color: white;
        font-size: 18px;
        margin-bottom: 18px;
    }
    
    .container-3 p {
        color:  hsl(204, 43%, 93%);
        margin: 2px;
    }
}